* { 
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: 0; border: none;
    text-decoration: none;
  
  background-color: #777;
}
header{position: fixed; left: 0;right: 0;top: 0;background-color: blue; height: 50px;
    justify-content: end; text-align: end; text-}