.container{width:700px; height: 600px; margin: 0 auto; border: 1px solid orange;}
.tab-box{padding-bottom:40px;width: 600px; background-color: #ddd; margin: 50px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.tab-item{display: block;width: calc(100%/3); height: 50px; line-height: 50px ;border-bottom: 1px solid #333; float: left; text-align: center; font-size: 20px; font-weight: bold; background-color: #f0f0f0;}
input[type='radio'] {display: none;}
.tab-content{padding:40px;text-align: center; overflow: hidden; clear: both; display: none;}
.tab-item:hover{background-color: skyblue; color: #ddd; cursor: pointer;}
#tab1:checked ~ #tab1-content,
#tab2:checked ~ #tab2-content,
#tab3:checked ~ #tab3-content{display: block;}
.tab-box input:checked + label {background-color: #333; color: #ddd;}