*{margin: 0;padding: 0;}
.container{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    border: 3px solid orange;
}
ul{list-style-type: none;}
a{text-decoration: none;color: #000;}

header nav{float: left;height: 50px;text-align: center;}
header nav .mainmenu{width: 600px;line-height: 60px;}

header nav .mainmenu > li{
    float: left;
    width: calc(100%/4);
    height: 100%;
    color: #000;
    cursor: pointer;
}
header nav .mainmenu > li:hover{background-color: royalblue;}
header nav .mainmenu > li:hover>a{color: #ddd;}
header nav .mainmenu > li:hover.submenu{display: block;}

header nav .submenu{display: none;}
header nav .submenu li{background-color: #ddd;}
header nav .submenu li a{color: #000;}
header nav .submenu li:hover{background-color: cornflowerblue;}
header nav .submenu li:hover a{color: white;}