*{margin: 0;padding: 0;}
#wrap{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
animation-name: ball;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
#wrap h1 {line-height: 200; color: white; text-align: center;}
@keyframes ball {
    from{left: 150px; bottom: 750px;}
    25%{left: 1000px; bottom: 1500px;  transform: rotate(360deg); }
    50%{left: 1850px; bottom: 750px;  transform: rotate(-360deg); }
    75%{left: 1000px; bottom: 0px;  transform: rotate(360deg); }
    to{left: 150px; bottom: 750px; transform: rotate(-360deg);}
    
}